h1{
    text-align: center;
}
Menu{
    margin: 0 auto;
}
Button{
    margin: 50px;
}
banner{
    width: 100%;
    height: auto;
}
container{
    background-color: aliceblue;
    height: 200px;
    position: relative;
    z-index: 1;
}
slick-dots{
    background-color: red;
}
calender{
    font-size: 80px;
    margin: auto;
    display: block;
}
speakers{
    position: relative;
    top: 40vw;
    height: 1200px; 
    background: #000; 
    padding: 50px 30px 30px 50px;
}
/* .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  } */